.container {
  background-color: black;
}

.genre {
  color: white;
  padding: 0 20px;
}

.text {
  color: white;
  padding: 0 20px 20px;
  font-size: 1rem;
}

.close {
  color: red;
  padding: 0 20px;
}