.container {
  background-color: black;
}

.director {
  color: white;
  padding: 0 20px;
}

.text {
  color: white;
  padding: 5px 20px;
  font-size: 1rem;
}

.close {
  color: red;
  padding: 0 20px;
}