<div class="container">
  <button
    mat-icon-button
    color='dark'
    [mat-dialog-close]='true'
  >
  <mat-icon class="close">close</mat-icon>
  </button>

  <h1 class="synopsis">{{data.title}}</h1>
  <p class="text">Synopsis: {{data.description}}</p>
  <p class="text">Director: {{data.director}}</p>
  <p class="text">Genre: {{data.genre}}</p>
  <p class="text">Release Year: {{data.releaseYear}}</p>
  <p class="text">IMDB Rating: {{data.imdbRating}}</p>
  <p class="text">Actors: {{data.actors}}</p>
</div>
