<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="profile-container">
      <h1 class="header-title">Profile Data</h1>
      <div class="box1">
        <h3>Username: <span> {{ user.Username }} </span></h3>
        <h3>Password: ********</h3>
        <h3>Email: {{ user.Email }}</h3>
        <h3>Birthday: {{ user.Birthday | date : 'MM/dd/yyyy' : 'UTC' }}</h3>
      </div>
      <mat-card-actions class="update-delete">
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="editUser()"
          >
            Update
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteUser()"
          >
            Delete
          </button>
        </div>
      </mat-card-actions>
  </div>

  <div class="favorite-container">
    <h1 class="header-title">Favorite Movie List</h1>
    <div class="card-container">
      <mat-card class="card" *ngFor='let favorite of favorites' style="flex: 1 1 auto;">
        <mat-card-header class="card-header">
          <mat-card-title class="card-title"><span class="title">{{favorite.Title}}</span></mat-card-title>
          <mat-card-subtitle class="director">Directed by: {{favorite.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{favorite.ImagePath}} alt={{favorite.Title}} />
        <mat-card-actions class="card-actions">
          <button
            class="action fw-light"
            mat-button
            color="primary"
            (click)="showGenre(
              favorite.Genre.Name, 
              favorite.Genre.Description
            )"
          >
            Genre   
          </button>
          <button
            class="action fw-light"
            mat-button
            color="primary"
            (click)="showDirector(
              favorite.Director.Name, 
              favorite.Director.Bio,
              favorite.Director.Birth,
              favorite.Director.Death
            )"
          >
            Director
          </button>
          <button
            class="action fw-light"
            mat-button
            color="primary"
            (click)="showSynopsis(
              favorite.Title, 
              favorite.Description
            )"
          >
            Synopsis
          </button>
          <button
            mat-raised-button
            class="warning"
            color='warn'
            (click)='deleteMovie(favorite._id, favorite.Title)' >
            Delete
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
