.profile-container {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin-top: 5px;
}

.favorite-container {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin-top: 5px;
}

.card-container {
  display: grid;
  padding: 0 10px;
  margin-top: 10px;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.card {
  background-color: black;
  color: white;
}