.profile-container {
  //display: grid;
  padding: 0 10px;
  margin-top: 10px;
  //grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  //grid-auto-rows: minmax(200px, auto);
  
}

.movies-container {
  //display: grid;
  padding: 0 10px;
  margin-top: 10px;
  //grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  //grid-auto-rows: minmax(200px, auto);
  
}

.card {
  background-color: black;
  color: white;
}